.venv/
__pycache__/
*.pyc
.env
models/*.pt
models/*.onnx
models/*.engine
data/raw/
data/processed/
mlruns/
*.db
.DS_Store
.vscode/
.idea/
models/*.tflite
data/driver_profiles/*.jpg
data/driver_profiles/*.png
data/driver_profiles/ds_model_*.pkl
